<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>DisplayWalletCreation</servlet-name>
        <servlet-class>com.dev.XRPTools_JaveEE.View.DisplayWalletCreation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayWalletCreation</servlet-name>
        <url-pattern>/display_generated_wallet.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createWalletController</servlet-name>
        <servlet-class>com.dev.XRPTools_JaveEE.Controller.createWalletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createWalletController</servlet-name>
        <url-pattern>/process.walletcreation</url-pattern>
    </servlet-mapping>

</web-app>